header {
  display: flex;
  justify-content: space-between;
}

.box {
  margin: 10px;
}

.box1 {
  height:120px;
  width:250px;
  background-color: rgb(208, 2, 27);
}

.box2 {
  height: 120px;
  width: 250px;
  background-color: rgb(72, 142, 222);
}

.box3 {
  height: 120px;
  width: 250px;
  background-color: rgb(74, 74, 74);
}

p {
  font-size: 18px;
  line-height: 24px;
}

main {
  margin: 10px;
}

.mid {
  background-color: rgb(72, 142, 222);
  height: 280px;
  margin: 10px;
}
.midBox {
  background-color: rgb(208, 2, 27);
  /*display:*/
  height: 280px;
  width: 28%;
}

footer {
  background-color: rgb(72, 142, 222);
  height: 120px;
  margin: 10px;
  margin-top: 15px;
}

.redFooter {
  background-color: rgb(208, 2, 27);
  display: flex;
  height: 120px;
  justify-content: center;
  float: right;
  width: 28%;
}

.greyFooter {
  align-content: center;
  background-color: rgb(74, 74, 74);
  height: 120px;
  width: 110px;
}
